/*div.img
  {
  margin:3px;
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }*/
div.imgleft
  {
    float:left; 
    width:50%;
    height: 300px;

  }
div.imgright
  {
    float:right; 
    width:50%;
    height: 300px;

  }
div.img img
  {
  /*display:inline;*/
  /*margin:3px;*/
  border:1px solid #bebebe;
  }
div.img a:hover img
  {
  border:1px solid #333333;
  }
div.desc
  {
  text-align:center;
  /*font-weight:normal;*/
  /*width:150px;*/
  /*font-size:12px;*/
  /*margin:0px 5px 10px 5px;*/
  }